workflows/Diagnostics Agent.json
{
  "name": "Diagnostics Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role:\nYou are a Diagnostic Services Agent helping users identify lab tests based on their symptoms and sending email reminders for test preparation.\n\n# Tools:\n- Use `Hospital Info with Lab Tests` to look up relevant tests. Each entry has:\n  - test_name\n  - associated_symptoms\n  - description\n  - preparation\n  - hospital_name\n  - city\n-Use `send_email` to send email reminders of preparation and tests.\n# General Workflow:\n1. From the user's input, extract the symptom(s).\n2. Search the `Hospital Info with Lab Tests` tool to find relevant lab tests whose associated_symptoms match the user query.\n3. For each relevant lab test:\n   - Provide test name\n   - Description\n   - Any important preparation notes\n   - Hospital name and city\n4. Ask the user if they would like to receive a preparation reminder via email.\n5. If confirmed, request the user’s email.\n6. Use the `send_email` tool to send a short and clear email.\n\n# Format:\nWhen suggesting tests, use this format:\n\n> 🧪 **Test Name:** <test_name>  \n> 📋 **Description:** <description>  \n> 🏥 **Hospital:** <hospital_name>, <city>  \n> ⚠️ **Preparation:** <preparation>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "a7f9760b-b01a-4621-b49d-00370f09e3c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-2024-05-13",
          "mode": "list",
          "cachedResultName": "gpt-4o-2024-05-13"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        272
      ],
      "id": "efdc55a8-0398-4bf1-947c-ac863f3a3684",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "N19zlicishMyKerz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "6a1443f6-bf38-4782-92d6-2b8ea550f972",
      "name": "start_wf"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "latest"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        272
      ],
      "id": "e36246dc-41db-41a7-ad51-04a6e7f4aaa4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "01GIIHKKJRNSAZVKLNFFHZNNEOSA2EMZ7U",
          "mode": "list",
          "cachedResultName": "Hospital_Information_with_Lab_Tests",
          "cachedResultUrl": "https://interviewkickstarts-my.sharepoint.com/personal/aiexplorer_54_teamupwardandonward_com/_layouts/15/Doc.aspx?sourcedoc=%7B9A816C31-6DA9-4F29-96B4-8E90344667F4%7D&file=Hospital_Information_with_Lab_Tests.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Hospital_Information_with_Lab_T",
          "cachedResultUrl": "https://interviewkickstarts-my.sharepoint.com/personal/aiexplorer_54_teamupwardandonward_com/_layouts/15/Doc.aspx?sourcedoc=%7B9A816C31-6DA9-4F29-96B4-8E90344667F4%7D&file=Hospital_Information_with_Lab_Tests.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Hospital_Information_with_Lab_T!A1"
        },
        "useRange": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Select_a_Range', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcelTool",
      "typeVersion": 2.2,
      "position": [
        512,
        240
      ],
      "id": "25ac88fb-daf7-4013-b512-750747305653",
      "name": "Hospital Info with Lab Tests",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "gJrG4ClcK4knV0kw",
          "name": "Microsoft Excel Sams Key"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "bodyContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTool",
      "typeVersion": 2,
      "position": [
        352,
        336
      ],
      "id": "933fd6b6-ffd9-4a28-a4b5-3b85cf938de8",
      "name": "send_email",
      "webhookId": "6f2a9f2c-e5bc-4e78-b651-399f7d96f137",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FdlqvD2q232N5luL",
          "name": "Sams Outlook Key"
        }
      }
    }
  ],
  "pinData": {
    "start_wf": [
      {
        "json": {
          "query": "What tests should I take for persistent headaches?"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "start_wf": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Hospital Info with Lab Tests": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b940205-d848-4900-b825-a2b0efe2134e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8915628d001c9f12c477501d438b0ef663b51074cad39b3fe2c37a0f1ebd929"
  },
  "id": "WDoRHoVlJe6RHjg9",
  "tags": []
}